{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block stylesheets%}
    <link rel="stylesheet" href="{{ asset('../css/custom.css') }}" />

{%endblock%}

{% block body %}
    <form class="form-admin">
        <label for="adminName">
            Admin name
        </label>
        <input type="text" name="admin-name" id="adminName" placeholder="Admin name" required>

        <label for="adminPassword">
            Admin password
        </label>
        <input type="password" name="admin-password" id="adminPassword" placeholder="Admin password" required>
        <button type="submit">Login</button>
    </form>
{% endblock %}
