{% extends 'base.html.twig'%}

{%block body%} <h1>Welcome to the online Student Management System</h1>
<div class="prof-div-info">
    <h3>Professors</h3>
    <div class="prof-div-info-1">
        <p>As a professor you can view the list of available courses that you can teach as
        well as the students who have enrolled on that course.</p>
    </div>
    <button type="button"><a href="{{path('prof_login')}}">Login</a></button>
</div>

<div class="student-div-info">
    <h3>Students</h3>
    <div class="student-div-info-1">
        <p>As a student you can view the list of available courses that you can enroll, view your grades as well as your
        personal information</p>
    </div>
    <button type="button"><a href="{{path('student_login')}}">Login</a></button>

</div>


<div class="admin-div-info">
    <h3>Admins</h3>
    <div class="admin-div-info-1">
        <p>You are responsible for...well, pretty much everything. Inserting new students, editing salaries and stuff like this.
        Don't mess with it</p>
    </div>
    <button type="button"><a href="{{path('admin_login')}}">Login</a></button>

</div>
{%endblock%}